@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap");

body {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 1.6; /* (20/12) */
color: rgba(73, 80, 87, 0.5);

}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.pagecategories {
}
.categories__section {

}
.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}
.portfolio__container {
    margin-bottom: 60px;
}
.portfolio__header {
    margin-bottom: 45px;
}
.header-categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.header-categories__categories {
}
.header-categories__link {
   
    color: #495057
}
.header-categories__filter {
    align-items: flex-end;
    
}
.filter-categories {
}
.filter-categories__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    
}
.filter-categories__item {
}
.filter-categories__link {
    transition: 0.5s;
}

.filter-categories__link.active,
.filter-categories__link:hover {
    color: #495057;
}

.portfolio__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 30px;
}
.portfolio__column {
    padding: 0 15px;
    flex: 0 0 33.333%;
}
.portfolio__item {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    row-gap: 15px;
}
.item-portfolio {


}
.item-portfolio__image:hover {

}



.item-portfolio__button {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    padding: 3px 12px;
    font-weight: 700;
    font-size: 8px;
    Line-height: 2.5;
    text-transform: uppercase;
    text-align: center;
    color: #F8F9FA;
    background-color: rgba(33, 37, 41, 0.3);
    border-radius: 3px;
    transition:  0.8s;

}
.item-portfolio__button:hover {
    background-color: #bba3c1;


}
.item-portfolio__image {
    overflow: hidden;
}
.item-portfolio__img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.8s;

}
.item-portfolio__img:hover {
    transform: scale(1.05);
}
.item-portfolio__date {
}
.item-portfolio__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
   color: #212529;
   transition: 0.5s;
}
.item-portfolio__title:hover {
    color:#5294d7 ;
}


.item-portfolio__descriprion {
    flex-grow: 1;
    position: relative;
    padding-bottom: 15px;
    
}

.item-portfolio__description::after {
    content: "";
    border: 1px solid #E5E5E5;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

}

.item-portfolio__autor:hover {
   color:#5294d7 ;
}
.item-portfolio__autor {
 transition: 0.5s;
}



.more-articles {
    text-align: center;
}

.more-articles__button {
    
}

.more-articles__link {
   
    display: inline-block;
    line-height: 2.10;
    text-align: center;
    color: #F8F9FA;
    background: #212529;
    border-radius: 3px;
    padding: 8px 50px;
    transition: 0.5s;
}

.more-articles__link:hover {
    background-color: #417bb5;
}